
body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient( #3f87a6, #ebf8e1, #f69d3c);
}

.btn-primary {
    background-color: #3f87a6 !important;
    margin-left: 260px;
}

.btn-outline-secondary {
    background-color: #ebf8e1 !important; 
}

